---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_pOCsio4MEdXiZLZTdTMtMMvg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15FAwUCf2xtNtL5JX82XhDXd",
          "livemode": false,
          "created": 1419888046,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15FAwUCf2xtNtL5JLY3PobtT",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "ZUV43zFRO2RbtMVO",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Mon, 29 Dec 2014 21:20:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15FAwUCf2xtNtL5JX82XhDXd&email=raymundo%40thompson.name&plan=base_plan
    headers:
      Authorization:
      - Bearer sk_test_pOCsio4MEdXiZLZTdTMtMMvg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419888047,
          "id": "cus_5Q0y4dteZ9ykOA",
          "livemode": false,
          "description": null,
          "email": "raymundo@thompson.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Q0y4dteZ9ykOA/subscriptions",
            "data": [
              {
                "id": "sub_5Q0y1LfJNZCp5v",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1419534801,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base_plan",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Myflix BASE PLAN",
                  "statement_description": "Myflix BASE PLAN"
                },
                "object": "subscription",
                "start": 1419888047,
                "status": "active",
                "customer": "cus_5Q0y4dteZ9ykOA",
                "cancel_at_period_end": false,
                "current_period_start": 1419888047,
                "current_period_end": 1422566447,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Q0y4dteZ9ykOA/cards",
            "data": [
              {
                "id": "card_15FAwUCf2xtNtL5JLY3PobtT",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2018,
                "fingerprint": "ZUV43zFRO2RbtMVO",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Q0y4dteZ9ykOA"
              }
            ]
          },
          "default_card": "card_15FAwUCf2xtNtL5JLY3PobtT"
        }
  recorded_at: Mon, 29 Dec 2014 21:20:47 GMT
recorded_with: VCR 2.9.3
