---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_15DiSDCf2xtNtL5JAQyzQJz0&email=ccondardo%40gmail.com&plan=base_plan
    headers:
      Authorization:
      - Bearer sk_test_pOCsio4MEdXiZLZTdTMtMMvg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1419540209,
          "id": "cus_5OVTYjYegGJQHw",
          "livemode": false,
          "description": null,
          "email": "ccondardo@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5OVTYjYegGJQHw/subscriptions",
            "data": [
              {
                "id": "sub_5OVTOVFsC0hUaO",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1419534801,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base_plan",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Myflix BASE PLAN",
                  "statement_description": "Myflix BASE PLAN"
                },
                "object": "subscription",
                "start": 1419540209,
                "status": "active",
                "customer": "cus_5OVTYjYegGJQHw",
                "cancel_at_period_end": false,
                "current_period_start": 1419540209,
                "current_period_end": 1422218609,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5OVTYjYegGJQHw/cards",
            "data": [
              {
                "id": "card_15DiSDCf2xtNtL5J6AX6eKjx",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2018,
                "fingerprint": "ZUV43zFRO2RbtMVO",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": null,
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5OVTYjYegGJQHw"
              }
            ]
          },
          "default_card": "card_15DiSDCf2xtNtL5J6AX6eKjx"
        }
  recorded_at: Thu, 25 Dec 2014 20:43:30 GMT
recorded_with: VCR 2.9.3
