---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15CHdxCf2xtNtL5JAViraxYr&description=Payment%20for%20ccondardo%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_pOCsio4MEdXiZLZTdTMtMMvg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15CHdyCf2xtNtL5JWToBRyDJ"
          }
        }
  recorded_at: Sun, 21 Dec 2014 21:53:42 GMT
recorded_with: VCR 2.9.3
