---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15FATvCf2xtNtL5JRIUGEHrI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_pOCsio4MEdXiZLZTdTMtMMvg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15FATvCf2xtNtL5JRIUGEHrI",
          "created": 1419886275,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15FATvCf2xtNtL5JbTq6XW0n",
              "object": "charge",
              "created": 1419886275,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": true,
              "card": {
                "id": "card_15FATuCf2xtNtL5JGiB7X5q5",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "ZUV43zFRO2RbtMVO",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": null,
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Q0UowtO7vYNpV"
              },
              "balance_transaction": "txn_15FATvCf2xtNtL5JETrzIcn6",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_5Q0UowtO7vYNpV",
              "invoice": "in_15FATvCf2xtNtL5JURGGuWfA",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "Myflix BASE PLAN",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15FATvCf2xtNtL5JbTq6XW0n/refunds",
                "data": []
              },
              "statement_description": "Myflix BASE PLAN"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5Q0U8gEG0350wE",
          "api_version": "2014-12-08"
        }
  recorded_at: Mon, 29 Dec 2014 21:10:08 GMT
recorded_with: VCR 2.9.3
