%article.video_results
  %header
    %h3 Results:
  .videos.row
    - if @video_search_results.any?
      - @video_search_results.each do |video|
        .video.col-sm-2
          = link_to video_path(video) do
            %img(src="#{video.small_cover_url}")
    - else
      .video.col-sm-12
        %p There are no results. Try broadening your search.