---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15FHF8Cf2xtNtL5JWjn3dCUP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_pOCsio4MEdXiZLZTdTMtMMvg
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15FHF8Cf2xtNtL5JWjn3dCUP",
          "created": 1419912266,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15FHF8Cf2xtNtL5JcegEH1aP",
              "object": "charge",
              "created": 1419912266,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "captured": false,
              "card": {
                "id": "card_15FH7QCf2xtNtL5JxNEC37DM",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2019,
                "fingerprint": "zRcsWw3cKD8X8Y1i",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Q2668BMKfVR6Q"
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_5Q2668BMKfVR6Q",
              "invoice": null,
              "description": "failed charge",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "MYFLIX",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15FHF8Cf2xtNtL5JcegEH1aP/refunds",
                "data": []
              },
              "statement_description": "MYFLIX"
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_5Q7UVLN6xwYzHM",
          "api_version": "2014-12-08"
        }
  recorded_at: Tue, 30 Dec 2014 04:11:12 GMT
recorded_with: VCR 2.9.3
